<manifest xmlns:android="http://schemas.android.com/apk/res/android">
 <uses-permission android:name="android.permission.INTERNET"/>
 <application android:theme="@style/Theme.SPARKD" android:label="SPARKD" android:icon="@drawable/sparkd_exact_loops" android:roundIcon="@drawable/sparkd_exact_loops" android:allowBackup="false" android:usesCleartextTraffic="false">
  <activity android:name=".MainActivity" android:screenOrientation="portrait" android:exported="true">
   <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
  </activity>
 </application>
</manifest>
